/**
* Table of Contents
  * 1.0 - Fonts
 * 2.0 - Reset css
 * 3.0 - Common
 * 4.0 - Theme color
 * 5.0 - Navbar
 * 6.0 - Banner
 * 7.0 - Screenshot
 * 8.0 - testimonial
 * 9.0 - Pricing
 * 10.0 - Footer
 * 11.0 - Responsive

/* ==========================================================================
   0.0 Custom (Added by us)
   ========================================================================== */

/* .entry-content {
	font-size: 19px;
} */

/* .entry-content p {
	padding-bottom: 30px;
} */

.pad-sm {
	padding:25px 0px;
}

.hero.hero-nm-height{
	height: 350px;
}

.hero-img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

.logo-light h3 {
    color: white;
}

.center-text {
	text-align: center;
}

.bio-title {
	padding-top: 10px;
}

.video-container {
	position:relative;
	margin-top:30px;
	padding-bottom:56.25%;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* .article-content h1{font-size: 2.45em; color: #37404d; font-weight: 400; line-height: 3}
.article-content h2{font-size: 2.2em; color: #37404d; font-weight: 400; line-height: 3}
.article-content h3{font-size: 1.95em; color: #37404d; font-weight: 400; line-height: 3}
.article-content h4{font-size: 1.7em; color: #37404d; font-weight: 400; line-height: 3}
.article-content h5{font-size: 1.45em; color: #37404d; font-weight: 400; line-height: 3}
.article-content h6{font-size: 1.2em; color: #37404d; font-weight: 400; line-height: 3} */

/* ==========================================================================
   1.0 Fonts
   ========================================================================== */
/*Montserrat font*/
/* @font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-semibold-webfont.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-light-webfont.ttf") format("truetype");
  font-weight: 300; }

/*open sans font*/
/* @font-face {
	font-family: 'open_sans';
	src:url('../fonts/open-sans/opensans-regular-webfont.eot');
	src:url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype');
	font-weight: 400;

}
@font-face {
	font-family: 'open_sans';
	src:url('../fonts/open-sans/opensans-bold-webfont.eot');
	src:url('../fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
		url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype');
	font-weight: 600;

} */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,600');

/* ==========================================================================
   2.0 Reset css
   ========================================================================== */
html, body {
	overflow-x: hidden;
	font-size: 16px;
	color: #616771;
	font-family: 'Roboto', 'open_sans', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	white-space: normal;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
	/* font-family: 'Roboto', 'open_sans', sans-serif; */
	/* font-family: "Titillium Web", "Roboto", sans-serif; */
	font-weight: 700;
	color: #37404d;
	line-height: 1.1;
	letter-spacing: -0.02em;
	margin:0 0 10px 0;
}
h1{font-size: 3.5em}h2{font-size: 3em}
h3{font-size: 2.5em}h4{font-size: 2.25em;}
h5{font-size: 2.0em}h6{font-size: 1.75em}
ul{
	/* padding: 0px; */
}
li{
	list-style: none;
	margin-bottom: 10px;
}

a:not(.btn) {
	transition:0.5s;
	text-decoration: underline;
	outline: 0;
}

.nav a {
	text-decoration: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}
a:active,
a:focus {
	outline: 0;
    -moz-outline:0;
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #46da60;
}

.title-link {
	text-decoration: none;
	color: #37404d;
}
/* ==========================================================================
   3.0 Common css
   ========================================================================== */
.sec-pad-sm {
	padding: 25px 0px;
}

.sec-pad {
	padding-top:100px;
}
.sec-pad-lg{
	padding:150px 0px;
}

.disappearing-pad {
	padding: 80px 0;
}

img{
	max-width:100%;
	height: auto;
}
@keyframes blink {
  50% { opacity: 0; }
}
.section-text{
	max-width: 600px;
	margin: 0 auto 60px auto;
}
.meta{
	font-size: 14px;
	line-height: 1;
	color: #c5c5c5;
}
.meta-head{
	font-size:16px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}
.lead{
	margin-bottom: 40px;
	color: #5f6360;
	letter-spacing: 3px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}
.light, .light .icon, .light h1,
.light h2, .light h3, .light h4, .light h5, .light h6{
	color: #fff;
}
.icon{
	color: #cacbcc;
	margin-bottom: 10px;
}
.icon-lg{
	color: #cacbcc;
	font-size: 3em;
	margin-bottom: 10px;
}
.icon-md{
	font-size: 2.5em;
}
.icon-sm{
	font-size: 2em;
}
.icon-xs{
	font-size: 1.5em;
}
.parallax-bg{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn-holder{
	margin-top: 40px;
}
.sub-input .custom-form{
	position: relative;
}
.sub-input .custom-form .form-control{
	height: 65px;
	border: 0;
	background-color: #fff;
	border-radius: 5px;
	padding: 0 0 0 20px;
	font-size: 18px;
}
.sub-input .custom-form .form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
}
.sub-input .result-box{
	font-size: 24px;
}
.sub-input .custom-form .btn{
	text-transform: uppercase;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	position: absolute;
	margin: 0;
	top:0;
	right:0;
	height: 100%;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.bg-grey{
	background: #f8f8f8;
}
.bg-gradient:not(.overly){
	background: rgba(197,218,240,1);
	background: -moz-linear-gradient(left, rgba(197,218,240,1) 0%, rgba(218,198,240,1) 100%);
	background: -webkit-linear-gradient(left, rgba(197,218,240,1) 0%, rgba(218,198,240,1) 100%);
	background: linear-gradient(to right, rgba(197,218,240,1) 0%, rgba(218,198,240,1) 100%);
}
.bg-gradient-2:not(.overly){
	background: rgba(193,15,65,1);
	background: -moz-linear-gradient(left, rgba(193,15,65,1) 0%, rgba(35,59,136,1) 100%);
}
.bg-gradient-3:not(.overly){
	background: rgba(158,243,254,1);
	background: -moz-linear-gradient(left, rgba(158,243,254,1) 0%, rgba(134,188,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(158,243,254,1) 0%, rgba(134,188,255,1) 100%);
	background: linear-gradient(to right, rgba(158,243,254,1) 0%, rgba(134,188,255,1) 100%);
}
.bg-gradient-4:not(.overly){
	background: #ffffff;
}
.bg-gradient.overly:before{
	background: -moz-linear-gradient(left, rgba(197,218,240,.8) 0%, rgba(218,198,240,.8) 100%);
	background: -webkit-linear-gradient(left, rgba(197,218,240,.8) 0%, rgba(218,198,240,.8) 100%);
	background: linear-gradient(to right, rgba(197,218,240,.8) 0%, rgba(218,198,240,.8) 100%);
}
.bg-gradient-2.overly:before{
	background: -moz-linear-gradient(left, rgba(193,15,65,.8) 0%, rgba(35,59,136,.8) 100%);
	background: -webkit-linear-gradient(left, rgba(193,15,65,8) 0%, rgba(35,59,136,.8) 100%);
	background: linear-gradient(to right, rgba(193,15,65,.8) 0%, rgba(35,59,136,.8) 100%);
}
.bg-gradient-3.overly:before{
	background: -moz-linear-gradient(left, rgba(158,243,254,.8) 0%, rgba(134,188,255,.8) 100%);
	background: -webkit-linear-gradient(left, rgba(158,243,254,.8) 0%, rgba(134,188,255,.8) 100%);
	background: linear-gradient(to right, rgba(158,243,254,.8) 0%, rgba(134,188,255,.8) 100%);
}
.bg-gradient-4.overly:before{
	background: -moz-linear-gradient(left, rgba(224,195,252,.8) 0%, rgba(142,197,252,.8) 100%);
	background: -webkit-linear-gradient(left, rgba(224,195,252,.8) 0%, rgba(142,197,252,.8) 100%);
	background: linear-gradient(to right, rgba(224,195,252,.8) 0%, rgba(142,197,252,.8) 100%);
}
.bg-solid{
	background: #3AC8FC;
}
.overly{
	position: relative;
}
.overly *{
	position: relative;
	z-index: 1;
}
.overly:before{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
}
.pad-0{
	padding: 0px;
}
.pl-0{
	padding-left:0px;
}
.pr-0{
	padding-right:0px;
}
.pb-0{
	padding-bottom: 0;
}
.mr-auto { margin-right: auto; }
.ml-auto { margin-left: auto; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom: .5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }
.w-100{
	width: 100%
}
.h-100{
	height: 100%;
}
.scroll-item{
	position: absolute;
}
.spce{
	clear: both;
	height: 20px;
	width: 100%;
}
.spce.lg{
	height: 60px;
}
.flx-container,
.d-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-column {
	-webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.align-flx-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.align-flx-center,
.align-items-center{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.justify-content-center {
	-webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.tab-container{
  z-index: 10;
  margin-top: 20px;
  margin-left: 50px;
}
.tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.tab-menu .tab-list{
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tab-menu .tab-list>a{
  margin-bottom: 0;
  flex: 1 0;
  position: relative;
  border:1px solid #e5e5e5;
  line-height: 3;
}
.tab-menu .tab-list>a .glyphicon,
.tab-menu .tab-list>a .fa {
  color: #39c05e;
}
.tab-menu .tab-list>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.tab-menu .tab-list>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.tab-menu .tab-list>a.active,
.tab-menu .tab-list>a.active .glyphicon,
.tab-menu .tab-list>a.active .fa{
  background-color: #39c05e;
  background-image: #39c05e;
  color: #fff;
  border-color: transparent;
}
.tab-menu .tab-list>a.active:after{
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  border-left: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #39c05e;
  transform: translateX(-50%);
}

.tab-content{
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
}

.tab .tab-content:not(.active){
  display: none;
}
.list-style{
	position: relative;
	margin-top: 30px;
}
.list-style li{
	padding-left: 30px;
}
.list-style li:before{
	position: absolute;
	content: '\f00c';
	top: 3;
	left: 0;
	color: #39c05e;
	font-family: 'FontAwesome';
}
.fw-600{
	font-weight: 600;
}
.clr-green{
	color:#46da60;
}
.clr-blue{
	color: #0facf3;
}
.clr-red{
	color: #ff4954;
}
.social-holder a{
	margin-right: 15px;
}
.social-holder a:last-child{
	margin-right: 0px;
}
.btn{
	display: inline-block;
	text-align: center;
	/* text-transform: uppercase; */
	border-radius:0;
	padding: 15px 40px;
	background: transparent;
	font-family: 'Roboto', 'open_sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	/* letter-spacing: 1.7px; */
	transition: 0.5s;
}
.btn + .btn{
	margin-left: 10px;
}
.btn-sm{
	font-size: .575em;
	padding: 10px 30px;
}
.btn-round i{
	transition: 0.5s;
	border-radius: 50%;
	border:2px solid #fff;
	font-size: 24px;
	height: 80px;
	width: 80px;
	text-align: center;
	padding-top: 25px;
	color: #fff;
	display: inline-block;
	margin-right: 10px
}
.btn-round i:hover{
	background-color:#fff;
}
.btn-round span{
	color: #fff;
	font-size: 18px;
}
.btn-green{
	color: #fff;
	background: #46da60;
	border: 0;
}
.btn-green:hover, .btn-green:active, .btn-green:focus{
	color: #fff;
	background: #39c05e;
	border-color: #39c05e;
}
.btn-blue{
	background-color: #0facf3;
	color: #fff;
	border: 0;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus{
	background-color: #0c8dc8;
	color: #fff;
	border: 0;
}
.btn-red{
	background-color: #ff4954;
	color: #fff;
	border: 0;
}
.btn-red:hover, .btn-red:active, .btn-red:focus{
	background-color: #e72c37;
	color: #fff;
	border: 0;
}
.btn-white{
	background-color: #fff;
	color: #66686a;
	border: 1px solid #fff;
}
.btn-border{
	color: #fff;
	background:transparent;
	border-color: #fff;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
.btn-border:hover{
	background: #fff;
	color: #37404d;
}
.theme-btn-round .btn{
	border-radius: 70px;
}
.theme-btn-round .sub-input .custom-form .btn{
	/* border-radius: 0 70px 70px 0; */
	/* -webkit-border-radius: 0 70px 70px 0; */
	-moz-border-radius: 0 70px 70px 0;
}
.theme-btn-round .sub-input .custom-form .form-control{
	border-radius:70px;
	-webkit-border-radius:70px;
	-moz-border-radius:70px;
}
/* ==========================================================================
    4.0 Theme color
   ========================================================================== */
.theme-green .tab-menu .tab-list > a.active .fa,
.theme-green a:not(.btn):hover,
.theme-green .btn-link:hover,
.theme-green .list-style li:before,
.theme-green .btn-round:hover i{
	color:#39c05e;
}
.theme-green .tab-menu .tab-list > a.active, .theme-green .tab-menu .tab-list > a.active .glyphicon,
.theme-green .tab-menu .tab-list > a.active .fa{
 	background: #39c05e;
}
.theme-green .tab-menu .tab-list > a.active::after{
	border-top-color:#39c05e;
}
.theme-blue .tab-menu .tab-list > a.active .fa,
.theme-blue a:not(.btn-green):not(.btn-blue):not(.btn-red):not(.btn-white):not(.btn-border):hover,
.theme-blue .list-style li:before,
.theme-blue .btn-round:hover i
{
	color:#0facf3;
}
.theme-blue .tab-menu .tab-list > a.active, .theme-blue .tab-menu .tab-list > a.active .glyphicon,
.theme-blue .tab-menu .tab-list > a.active .fa{
 	background: #0facf3;
}
.theme-blue .tab-menu .tab-list > a.active::after{
	border-top-color:#0facf3;
}
.theme-red .tab-menu .tab-list > a.active .fa,
.theme-red a:not(.btn):hover,
.theme-red .btn-link:hover,
.theme-red .list-style li:before,
.theme-red .btn-round:hover i
{
	color:#ff4954;
}
.theme-red .tab-menu .tab-list > a.active, .theme-red .tab-menu .tab-list > a.active .glyphicon,
.theme-red .tab-menu .tab-list > a.active .fa{
 	background: #ff4954;
}
.theme-red .tab-menu .tab-list > a.active::after{
	border-top-color:#ff4954;
}
/* ==========================================================================
    5.0 Navbar Styling
   ========================================================================== */

.navbar-default {
	background-color: white;
	border-radius: 0;
	border: none;
	margin: 0;
	/* position: absolute;
	left: 0;
	right: 0;
	top: 0; */
	z-index: 10;
}

.navbar-default .navbar-brand {
	/* height: auto; */
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-links,
.navbar-default .navbar-nav>li>a {
	color: #37404d;
	font-weight: 500;
	text-decoration: none !important;
}

.footer-links:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: black !important;
}

.footer-links:hover {
	text-decoration: underline !important;
}

.navbar-default .navbar-header {
	padding: 14px 0;
}

@media(max-width: 767px) {
	.navbar-default .navbar-brand {
		padding-left: 0;
	}
	.navbar-default .navbar-brand img {
		padding: 0;
	}
	.navbar-default .navbar-toggle {
		margin-right: 0;
		width: 44px;
		border-color: transparent;
		color: white !important;
		background-color: #4272A0;
	}
	.navbar-default .navbar-toggle:focus {
		background-color: #bbb;
	}
	.navbar-default .navbar-toggle:hover {
		background-color: #4272A0;
	}
	.navbar-default .navbar-toggle.collapsed {
		background-color: #ddd;
	}
	.navbar-default .navbar-collapse {
		margin-left: -30px !important;
		margin-right: -30px !important;
		/* padding: 0 30px; */
		border-color: transparent;
	}
	.navbar-default .navbar-collapse .btn {
		width: auto;
		display: block;
	}
}

@media(min-width: 768px) {
	.navbar-default .navbar-collapse {
		padding-top: 4px;
	}
	.navbar-default .navbar-btn {
		margin-left: 15px;
	}
	.navbar-default .navbar-nav>li {
		margin-bottom: 0;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 24px;
	}
}

.navbar-custom {
	background-color: white;
	border-radius: 0;
	border: none;
	padding: 15px 0px;
	-webkit-transition: padding .5s;
	-moz-transition: padding .5s;
	transition: padding .5s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.navbar-custom:not(.navbar-fixed-top){
	z-index: 10;
}
.navbar-custom.affix{
	position: fixed;
}
.navbar-custom .right-nav{
	float: right;
}
.navbar-custom .right-nav .nav-btn{
	float: right;
	margin-top: 4px;
}
.navbar-custom .navbar-brand {
	padding: 0px;
	transition:0.5s;
}

#navbar-logo {
	margin-top: 5px;
}

.navbar-brand.logo-clr {
	color: #ffffff;
}

.navbar-custom .navbar-brand.logo-clr, .navbar-custom.affix .navbar-brand.logo-light{
	opacity: 0;
	width: 0;
}
.navbar-custom.affix .navbar-brand.logo-clr, .navbar-custom .navbar-brand.logo-light{
	opacity: 1;
	width: auto;
}
.navbar-custom.affix .btn-border:hover{
	background: linear-gradient(90deg, #2C3E50,#525e6b, #2C3E50);
	border-color:#39c05e;
}
.navbar-custom .navbar-toggle {
	border:0;
	text-transform: uppercase;
	/* background: linear-gradient(90deg, #2C3E50,#525e6b, #2C3E50); */
	font-size:2.35em;
	margin-right: 0px;
	padding: 0 12px;
	transition:0.5s;
}
.navbar-custom .navbar-toggle:hover{
	background:transparent;
	opacity: 0.7;
}
.navbar-custom.affix .navbar-toggle{
	color: #37404d;
}
.navbar-custom ul li{
	margin: 0 15px;
}
.navbar-custom ul li:last-chlid{
	margin-right:0px;
}
.navbar-custom ul li a{
	color: #5a5c5d;
	/* text-shadow: 1px 1px 1px #5f5f5f; */
	font-size: 18px;
	font-family: 'Roboto', 'open_sans', sans-serif;
	font-weight: 600;
	/* text-transform: uppercase; */
	padding: 15px 0;
}
.navbar-custom.affix ul li a{
	color: #fff;
}
.navbar-custom ul li.active a{
	color: #808387;
}
.navbar-custom ul li a:hover{
	background:transparent;
	color: #808387 !important;
}
.navbar-custom.affix{
	padding: 10px 0px;
	border-bottom: 0px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.2);
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	background: linear-gradient(90deg, #2C3E50,#525e6b, #2C3E50);
}
.navbar-custom.affix .btn-border{
	border-color: inherit;
	color: inherit;
}

.navbar-custom .navbar-header {
	/* text-shadow: 1px 1px 1px #444444; */
	font-weight: 700;
	padding: 20px;
}

/* ==========================================================================
   6.0 Banner Styling
   ========================================================================== */
.hero {
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
}

#home.hero {
	background-color: #0f3b63;
	color: #A3B0BF;
	/* min-height: 100vh; */
	padding-bottom: 0;
}

#home .hero-container {
	/* margin-top: 78px; /* Clear navbar */
	padding-top: 30px;
	padding-bottom: 30px;
}

#home .hero-header {
	color: white;
	line-height: 1;
	font-size: 3rem;
}

#home .signup-email {
	margin-left: 0 !important;
	border: 0;
}

@media (max-width: 767px) {
	#home.hero img {
		width: 300px;
		margin: 0 auto 2rem;
		display: block;
	}

	#home .hero-header {
		font-size: 1.75rem;
		line-height: 1.1;
	}

	#home .hero-paragraph {
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	#home.hero .hero-content {
		min-height: 700px;
	}
	#home.hero,
	#home .hero-container .row > div {
		flex-direction: column;
	}

	#home .hero-container {
		flex-grow: 1;
	}

	#home.hero,
	#home .hero-container,
	#home .hero-container .row,
	#home .hero-container .row > div {
		display: flex;
	}

	#home .hero-container .row > div {
	  justify-content: center;
	}
}

.hero.wave-btm:after{
	position: absolute;
	content: '';
	/*background: url('../image/wave.png')no-repeat;*/
	height: 200px;
	top:88%;
	width: 100%;
	background-size: cover;
}
.hero.app-banner{
	height:700px;
}
.hero .hero-content.intro-center{
	position: static;
	padding-top: 150px;

}
.hero-content .sub-input .btn {
    /* right: 8px; */
}
.hero-content .intro-text .intro-heading{
	font-size: 48px;
	margin-bottom: 20px;
	font-family:'Roboto', 'open_sans', sans-serif;
	font-weight: 400;
	line-height: 60px;
}
.img-pre.pos-right{
	position: absolute;
	top: 0;
	right:0;
}

.hero-header {
	/* text-shadow: 1px 1px 1px #444444; */
}

.hero-paragraph {
	font-size: 16pt;
	/* text-shadow: 1px 1px 1px #444444; */
}

.homepage-testimonial {
	background-color: #0f2b43;
	color: #A3B0BF;
	padding: 40px 0;
}

.homepage-testimonial blockquote {
	border: 0;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	.homepage-testimonial blockquote {
		text-align: center;
	}
	.homepage-testimonial blockquote p {
		font-size: 1.5rem;
	}
}

.homepage-testimonial blockquote cite {
	color: white;
}

.homepage-testimonial blockquote cite img {
	height: 30px;
}

.homepage-customers {
	background-color: white;
	border-bottom: 1px solid #d5d7d9;
	padding: 30px 0;
	text-align: center;
}

.homepage-customers img {
	height: 40px;
	opacity: 0.4;
	margin: 0 20px;
}


/* ==========================================================================
   7.0 Screenshot Styling
   ========================================================================== */
.screenshot .owl-carousel {
	margin-top: 50px;
	margin-bottom: 70px;
}
.screenshot .owl-carousel .owl-item img{
	width: auto;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.screenshot .owl-carousel .owl-item.active.center img{
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: 0px 0px 0px #000;
}
/* ==========================================================================
   8.0 testimonial Styling
   ========================================================================== */
.quote{
	text-align: center;
}
.quote .owl-item .quote-wrapper{
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0  20px rgba(0,0,0,.1);
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.quote .owl-item img{
	height: 60px;
	width: 60px;
	border: 1px solid #fff;
	border-radius: 50px;
	margin: 0 auto;
}
.quote .owl-item{
	padding: 20px;
}
/* ==========================================================================
   9.0 Pricing Styling
   ========================================================================== */

#pricing {
	background-color: #f5f7f9;
	padding-top: 60px;
}

 .pricing .row {
 	margin-left: 0;
 	margin-right: 0;
 	display: flex;
	flex-wrap: wrap;
 }

 .pricing .row > div {
 	padding-left: 0;
 	padding-right: 0;
 	margin-left: -1px;
	margin-top: -1px;
 	z-index: 1;
 	display: flex;
 	flex-grow: 1;
 }

 .pricing .row > div:hover {
 	z-index: 2;
 }

.pricing .pricing-table:hover{
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.pricing{
	padding: 10px 0 90px 0;
}
.pricing .pricing-table{
	border: 1px solid #e1e1e1;
	transition:0.5s;
	transform:scale(1);
	background: #fff;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.pricing .pricing-table.main{
	transform:scale(1.25);
	z-index: 10;
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.pricing .pricing-content .main-pricing{
	margin: 50px 0;
}
.pricing .pricing-header{
	padding: 2rem 2rem 1rem;
	/* border-bottom: 1px solid #ccc; */
	color: #000;
}
.pricing .pricing-content .main-pricing h4{
	color:  #46da60;
}
.pricing .pricing-content .pricing-feature li{
	/* text-transform: uppercase; */
}

.pricing .pricing-content .pricing-feature ul {
	padding: 0px;
}

.pricing .pricing-footer{
	padding: 1rem 1rem 2.5rem;
}

.pricing .pricing-content {
	flex-grow: 1;
	padding: 0 1rem;
	/* min-height: 450px; */
}





/* ==========================================================================
   10.0 Footer Styling
   ========================================================================== */
.footer-wrapper{
	padding: 50px 0px;
	background: #f8f8f8;
}
.footer-wrapper .copyright{
	font-size: 0.9em;
}

/* ==========================================================================
   11.0 Responsive CSS
   ========================================================================== */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{
		/* font-size: 0.765em; */
	}
	h1{font-size: 2.5em}
	h2{font-size: 2em}
	h3{font-size: 2.2em}
	h4{font-size: 1.75em}
	h5{font-size: 1.5em}
	h6{font-size: 1.25em}

	.res-center{
		text-align: center;
		display: block;
		float: none;
	}
	.res-margin{
		margin-bottom: 60px;
	}
	.res-margin-sm{
		margin-bottom: 30px;
	}
	.res-margin-xs{
		margin-bottom: 15px;
	}
	.flx-off{
		display: block;
	}

	.sec-pad-sm {
	    padding: 40px 0px;
	}

	.sec-pad {
	    padding: 70px 0px;
	}
	.sec-pad-lg{
		padding: 90px 0;
	}
	.pb-0{
		padding-bottom: 0;
	}
	.navbar-custom ul li {
	    margin: 0 10px;
	}
	.hero-content .mockup {
		top: 30px;
		max-width: 350px;
	}
	.feature .section-text {
		padding: 0 40px 10px 40px;
	}
	.specification-mockup{
		margin-top: 25px;
	}
	.team-member.sec-pad{
		padding-bottom: 45px;
	}
	.footer-wrapper .nav{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.landing-vertical-align {
		display: block !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.container {
	    /* padding-left: 30px;
	    padding-right: 30px; */
	    max-width: 100%;
	}

	.signup-button {
		/* font-size: 1.2em; */
		/* width: 100%; */
		/* padding-left: 0px; */
		/* padding-right: 0px; */
	}

	.navbar-custom{
		padding: 0;
	}
	.navbar-custom.affix{
		padding: 0;
	}
	.navbar-nav {
		text-align: center;
	}
	.navbar-custom .right-nav{
		float: none;
	}
	.navbar-custom .right-nav .nav-btn{
		text-align: center;
		float: none;
	}

	.collapse {
		/* display: none !important; */
	}

	.mobile-nav-row {
		display: block !important;
	}

	.desktop-nav-row {
		display: none !important;
	}

	/* .navbar-collapse{
		background: white;
		padding: 20px 0;
		overflow-x:hidden;
	} */
	.disappearing-pad {
		padding: 50px 0;
	}

	.sec-pad, .sec-pad-lg{
		padding: 50px 0;
	}
	.pb-0{
		padding-bottom: 0;
	}
	.spce{
		height: 5px;
	}
	.spce.lg {
	    height: 40px;
	}
	.theme-btn-round .sub-input .custom-form .btn{
		border-radius: 70px;
	}
	.tab-container{
		margin-left: 0;
	}
	.tab-menu .tab-list{
		display: block;
	}
	.tab-menu .tab-list a{
		padding: 3px 6px;
	}
	.screenshot .owl-carousel{
		margin-top: 0;
		margin-bottom: 0;
	}
	.btn-holder {
	    margin-top: 10px;
	}
	.navbar-custom .navbar-brand {
	    padding: 8px 0 0 0;
	}
	.navbar-custom ul li {
		margin: 0 10px;
	}
	.navbar-custom ul li a{
		font-weight: 700;
		color:#ccc;
	}
	.navbar-custom ul li:last-child a{
		padding: 0 20px 0 20px;
		line-height: 32px;
	}
	.navbar-nav li a.active, .navbar-custom ul li a:hover {
		border-bottom: 0px;
	}
	.navbar-custom:not(.navbar-fixed-top) .container{
		width: 100%;
	}
	.pricing {
	    padding:0;
	}
	.pricing .pricing-table, .pricing .pricing-table.main {
	    transform: scale(1);

	}
	.parallaxie{
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}

	.landing-vertical-align {
		display: block !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.container{
		/* padding-left: 35px; */
		/* padding-right: 35px; */
	}
	.lead {
	    margin-bottom: 20px;
	}
	.section-text {
	    margin: 0 auto 40px auto;
	}
	.tab-menu .tab-list a{
		display: block;
		text-align: center;
	}
	.custom-form .form-control{
		/* padding: 0 10px 0 70px; */
	}
	.sub-input .custom-form .btn{
		position: static;
		width: 100%;
		margin-top: 10px;
		border-radius:5px;
	}
	.sub-input .custom-form label {
	    top: 14%;
	}
	.btn{
		/* margin-top: 15px; */
	}
	.btn + .btn{
		margin-left:0;
	}
	.signup-button {
		/* font-size: 1.2em; */
		/* width: 100% */
	}

	.entry-content {
		/* font-size: 10px !important; */
	}

	.landing-vertical-align {
		display: block !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.navbar-custom .navbar-brand img{
		width: 120px;
		padding-top: 5px;
	}
}

/* Custom Overrides */

/* .entry-content h4 {
    margin-top: 5px;
} */

.top-buffer-sm {
	padding-top: 15px;
}

.top-buffer {
	padding-top: 30px;
}

.top-buffer-lg {
	padding-top: 60px;
}

.bottom-buffer {
	padding-bottom: 15px;
}

.bottom-buffer-md {
	padding-bottom: 30px;
}

.bottom-buffer-lg {
	padding-bottom: 80px;
}

.btn-darkgreen {
	color: #fff;
	background: #32a85f;
	border: 0;
}

.btn-darkgreen:hover, .btn-darkgreen:focus{
	color: #fff;
	background: #12883f;
}

.btn-darkgreen:active {
	color: #fff;
	background: #00681f;
}

.btn-strokegreen {
	color: #fff;
	background: rgb(11, 115, 163);
	border: 0;
}

.btn-darkblue {
	color: #fff;
	background: rgb(11, 115, 163);
	border: 0;
}

.btn-darkblue:hover, .btn-darkblue:focus{
	color: #fff;
	background: rgb(0, 85, 133);
}

.btn-darkblue:active {
	color: #fff;
	background: rgb(0, 55, 103);
}




.btn-darkgrey {
	background: #909090;
	border: none;
}

.btn-darkgrey,
.btn-darkgrey:hover,
.btn-darkgrey:focus,
.btn-darkgrey:active {
	color: white;
}

.btn-darkgrey:hover {
	background: #777;
}

.btn-darkgrey:active {
	background: #555;
}

/* #login-button-mobile {
	text-decoration:  none;
	text-transform: none;
	width: 100;
	margin-top: 0px;
	color: white;
	font-size: 80%;
}

#login-button {
	margin-left: 10px;
	text-decoration:  none;
	width: 150px;
	color: white;
} */

.form-control .signup-input {
	width: 400px;
}

.signup-button {
	/* font-size: 1.2em; */
	/* padding-left: 90px; */
	/* padding-right: 90px; */
	min-width: 250px;
}

.demo-button {
  min-width: 250px;
}

.form-error-text {
	color: #df0000;
	font-size: 16pt;
}

.signup-input {
	width: 100%;
}

.hero-container {
	/* background-image: url(/theme/image/browser_flamegraph.png); */
	padding-bottom: 20px;
	/* background-repeat: no-repeat; */
	/* background-size: 100%; */
	/* background-position-x: center; */
	/* background-position-y: 700px; */
	/* height: 110vh; */
	max-height: 1200px;
}

.hero-subheader {
	color: #909090;
}

#logo-mobile {
	padding: 10px;
}

.mobile-nav-row {
	display: none;
	padding: 10px;
}

.desktop-nav-row {
	/* display: block; */
	/* padding-top: 15px; */
}

.btn-pricing {
	text-decoration: none;
	/* margin-top: 50px;
	margin-bottom: 50px; */
	/* margin-bottom: 2rem; */
}

.overview-item {
	overflow: hidden;
	background: #f5f7f9;
	position: relative;
	border-bottom: 1px solid #d5d7d9;
}

.overview-item-image {
	border-radius: 10px;
	border: 1px solid #ddd;
}

@media(max-width: 767px) {
	.overview-item-text {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.overview-item-image-wrapper {
		max-height: 100px;
		overflow: hidden;
	}
}

@media(min-width: 768px) {
	.overview-item-image {
		position: absolute;
		max-width: none;
		top: 100px;
	}
	.overview-item-image.left {
		right: 0;
	}

	.overview-item-image.right {
		left: 0;
	}
	.overview-item-text {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}





.section-separator {
	width: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
}


#recommended .row {
	display: flex;
	flex-wrap: wrap;
}

.index-entry-title {
	font-size: 1.5rem;
	line-height: 1.3;
}

.index-entry-title a {
	text-decoration: none;
}

.index-published-time {
	font-size: 14px;
	margin-top: 5px;
	display: block;
	/* font-style: italic; */
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #999;
}

@media (min-width: 992px) {
	.index-published-time {
		text-align: right;
	}
}

.paginator {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 14px;
}

.paginator .btn.disabled {
	color: #aaa;
}



.article-entry-title {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
	.article-entry-title {
		font-size: 1.75rem;
	}
}

.article-entry-title a {
	text-decoration: none !important;
}

.entry-content,
.entry-content p {
	font-size: 1.25rem;
	line-height: 1.6;
}

.entry-content p:empty {
	margin: 0 !important;
}

.entry-content h2,
.entry-content h3,
.entry-content h4 {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content p {
	margin-bottom: 1.5rem;
}

.entry-content h2 { font-size: 2rem; }
.entry-content h3 { font-size: 1.5rem; }
.entry-content h4 { font-size: 1.25rem; }

@media (max-width: 767px) {
	.entry-content,
	.entry-content p {
		font-size: 1rem;
	}
	.entry-content h2 { font-size: 1.5rem; }
	.entry-content h3 { font-size: 1.25rem; }
	.entry-content h4 { font-size: 1rem; }
}

.entry-content table {
	margin-bottom: 1.5rem;
}

.entry-content table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.entry-content th,
.entry-content td {
	padding: 0.7rem 1rem;
	border-bottom:  1px solid #ddd;
	line-height: 1.3;
	font-size: 1rem;
}

.entry-content th {
	/* color: #777; */
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	vertical-align: bottom;
	border-bottom-width: 2px;
}

.entry-content td {
	vertical-align: top;
}

.entry-content th[align="right"],
.entry-content td[align="right"] {
	text-align: right;
}

/* .entry-content th:not(:first-child),
.entry-content td:not(:first-child) {
	padding-left: 1rem;
}

.entry-content th:not(:last-child),
.entry-content td:not(:last-child) {
	padding-right: 1rem;
} */

.entry-content ul {
	margin-bottom: 24px;
}

.signup-popup {
	/* background-image: url(/theme/image/signup_browsers.png); */
	padding: 50px;
	background-repeat: no-repeat;
	background-size: 90%;
	background-position-x: center;
	background-position-y: 450px;
	height: 100%;
}

.time-authors {
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
  letter-spacing: 0.05em;
	font-weight: 500;
}

.time-authors time {
	margin-right: 1rem;
}


.time-authors-author {
	display: inline-block;
}

@media (max-width: 767px) {
	.time-authors-author {
		/* display: block; */
	}

	.time-authors time {
		display: block;
	}
}


.time-authors-author-avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0 !important;
	margin-right: 5px;
}

.logo-link {
	text-decoration: none;
	color: #5a5c5d;
}

.privacy-li {
	list-style-type: circle;
	margin-left: 20px;
	font-size: 1.25rem;
	line-height: 1.6;
}

.privacy-policy-body {
	font-size: 1.2em;
}

.privacy-policy-body h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: left;
}

.privacy-policy-body h5 {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: left;
}

.privacy-policy-body p {
	margin-top: 40px;
	margin-bottom: 40px;
}

.footer-links {
	/* font-size: 18px; */
    /* font-family: 'Roboto', 'open_sans', sans-serif; */
    /* font-weight: 600; */
		/* text-decoration: none; */
}

@media (min-width: 768px) {
	.article-content header {
		text-align: center;
	}
}


.article-content img {
	padding-top: 30px;
	padding-bottom: 30px;
}

.article-content ol li {
	list-style-type: decimal;
}

.article-content li {
	/* list-style: circle; */
    /* margin-bottom: 10px; */
	list-style: outside;
}

.top-padding {
	margin-top: 10px;
}

.contact-box {
	font-size: 120%;
	padding: 40px;
}

.logo-img {
	padding-top: 5px;
}

.logo-img-mobile {
	padding: 10px;
}

/* Landing page specific stuff */

.landing-title {
	font-family: 'Roboto', 'open_sans', sans-serif;
	font-weight: 900;
	color: #37404d;
	line-height: 1.3;
	letter-spacing: 0px;
	margin: 0 0 10px 0;
	font-size: 3.3em;
}

.landing-subtitle {
	font-size: 2.1em;
	font-weight: 400;
	color: rgb(55, 64, 77)
}

.landing-text {
	padding: 30px 20px 10px 20px;
	font-size: 1.2em;
	font-weight: 300;
	color: rgb(63, 68, 75)
}

.landing-hero {
	background-color: #337ab70f;
	margin-top: 60px;
	padding-top: 50px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	border-top: 1px solid #f0f0f0;
}

.landing-hero-subbar {
	background-color: #3379b71f;
	margin-bottom: 5px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

.landing-hero-image-outer {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 530px;
	height: 400px;
}


.landing-vertical-align {
	display: block;
}

.landing-hero-image-parent {
	position: relative;
	top: 0;
	left: 0;
}

.landing-hero-image {
	width: 380px;
	height: 250px;
}

.landing-hero-image1 {
	position: relative;
	top: 0;
	left: 0;
}

.landing-hero-image2 {
	position: absolute;
	top: 50px;
	left: 50px;
}

.landing-hero-image3 {
	position: absolute;
	top: 100px;
	left: 100px;
}

.landing-signup-window {
	border: 1px solid #c0c0c0;
}

.landing-logos {
	vertical-align: middle;
	display: inline-block;
	float: none;
	opacity: 0.7;
}

.landing-features {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
	font-weight: 300;
	color: rgb(63, 68, 75)
}

.landing-features li {
	list-style: disc inside none;
}

.signup-email {
	max-width: 400px;
}

.signup-password {
	max-width: 400px;
}

.landing-number-circle {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid grey;
    background: grey;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-number-text {
	font-size: 1.8em;
}

.landing-vertical-align {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footnote {
	font-size: 19px;
}

.pop {
	cursor: zoom-in;
}

.tooltip-text {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}

/* .related-article {
	margin: 10px;
} */

.related-article .entry-content p {
	font-size: 1rem;
}

.text-light {
	font-weight: 300 !important;
}

.d-block {
	display: block;
}

/* ul > li {
  margin-left: 20px;
} */

.article-cta-div.dark,
.homepage-signup {
	background-color: #0f3b63;
	color: #A3B0BF;
	padding: 60px 30px;
}

.article-cta-div.dark {
	margin: 60px 0;
	text-align: center;
}

.article-cta-div.dark h5,
.homepage-signup h4 {
	color: white;
}

.homepage-signup input {
	border: 0;
}

#feature {
	padding: 30px 0 60px;
}

#feature p {
	margin-bottom: 40px;
}

#howitworks {
	padding: 60px 0 30px;
}

.signup-modal {
	width: 900px;
}

.signup-modal-content {
	padding: 50px;
}

.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 100%;
}
.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
}
.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width:inherit;
	height:inherit;
	/* To center horizontally */
	margin: 0 auto;
}

#slidebox {
	max-width:800px;
	/* height:250px; */
	padding:1.5rem;
	background-color:#fff;
	border-top:3px solid #E28409;
	position:fixed;
	bottom:0px;
	right:-830px;
	-moz-box-shadow:-2px 0px 5px #aaa;
	-webkit-box-shadow:-2px 0px 5px #aaa;
	box-shadow:-2px 0px 5px #aaa;
	z-index: 99;
}

.signup-slidebox {
	margin-left: 25px;
	margin-right: 25px;
}

#slidebox a.close {
	/*background:transparent url(/images/close.gif) no-repeat top left;*/
	width:13px;
	height:13px;
	position:absolute;
	cursor:pointer;
	top:10px;
	right:10px;
	text-decoration:none;
}

#slidebox a.close:hover {
	background-position:0px -13px;
}

.dropdown-item {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
	color: #37404d;
	font-weight: 500;
	text-decoration: none !important;
	position: relative;
	display: block;
	text-align: center;
}

.dropdown-item:hover {
	color: black !important;
}

li.open {
	margin-bottom: 0px;
}

#hero-buttons {
  display: inline-block !important;
}